input{
    height: 30px;
    width: 400px;
    border-radius: 5px;
    margin: 10px 10px;
    border-style: none;
    text-align: center;
    font-size: 20px;

}
#message { 
    text-align: center;
    
    border-radius: 5px;
    font-size: 20px;
    border-style: none;
    margin-left: 10px;
    margin-top: 10px;
    height: 250px;
    width: 400px;


}
button{
    color: EFFFFD;
    border-style: none;
    height: 25px;
    width: 70px;
    margin-left: 180px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#contact{
    margin-top: 100px;
    margin-left: 35%;
    width: 420px;
}